{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h3 align="center">Login page</h3>
<form action="logdata" method="post">
    {% csrf_token %}
    <h3 style="color:red" align="center">{{data}}</h3>
    <table align="center">
        <tr>
            <td>User Name</td>
            <td><input type="text" name="txtname"></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" name="txtpsw"></td>

        </tr>
        <tr>
            <td><input type="submit" name="sbt" value="Login"></td>
            <td><a href="{% url 'reg' %}">Register</a></td>
        </tr>
    </table>
</form>



</body>
</html>